.cover__link {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: inherit;
  width: 100%;
  text-decoration: none;
  color: #fff;
}