.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  background-color: #2A2C2F;
}

.cover:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1080px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 920px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 680px) {
  .cover {
    min-height: 420px;
  }
}

@media screen and (max-width: 560px) {
  .cover {
   min-height: 300px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 200px;
  }
}